html,
body {
    height: 100vh;
    color: #8E1459;
}

.navbar-inverse {
    background-color: #8E1459;
}

.navbar-inverse .navbar-brand {
    color: #E99EC8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #E99EC8;
}

.category {
    font-style: italic;
    color: #E99EC8;
}

.category-list {
    border: 1px solid #8E1459;
    border-radius: 15px;
    margin: 20px;
    height: calc(80vh);
}

.category-list > ul  {
    list-style-type: none;
    padding-left: 0;
}

.category-list > ul > li > a {
    font-size:  32px;
    text-decoration: none;
    display: block;
}

.item-list {
    border: 1px solid #8E1459;
    border-radius: 15px;
    margin: 20px;
    height: calc(80vh);
}

.items {
    margin-top: 20px;
}

.panel {
    border: 1px solid #8E1459;
}

.panel-header {
    padding: 10px;
    background-color: #C2498D;
    color: #FFFFFF;
}

 a:hover .panel-header {
    background-color: #E99EC8;
    color: #C2498D;
}

.panel-body {
    height: 20vh;
    overflow: hidden;
}

.panel-footer {
    background-color: #AE2b75;
    color: #E99EC8;
}

.btn-success {
    background-color: #C2498D;
    border-color: #AE2B75;
    color: #E99EC8;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active
 {
    background-color: #8E1459;
    border-color: #AE2B75;
}