{% extends "base.html" %}
{% block content %}
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
    <div>
        <a class="btn btn-danger" href="{{url_for('editCategory', category_id=category.id)}}">Edit Category</a>
        <a class="btn btn-primary" href="{{url_for('newItem',category_id=category.id)}}">Add New Item</a>
    </div>
    <div class="item-list">
    {% for item in items %}
    <a href="{{url_for('viewItem',category_id=item.category_id, item_id=item.id)}}">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-header">{{item.name}}({{item.category.name}})</div>
                <div class="panel-body">{{item.description}}</div>
                <div class="panel-footer">{{item.price}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
    </div>
{% endblock %}