{% extends "base.html" %}
{% block content %}
<div class="">
    <h1>Add New Item to {{category.name}}</h1>
    <form method="post" action="{{url_for('newItem', category_id=category.id)}}">
        <div class="form-group">
            <label for="name" class="control-label">Item Name</label>
            <input placeholder="Item Name" type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Item Description</label>
            <textarea placeholder="Description" type="text" class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="price" class="control-label">Price</label>
            <input placeholder="£0.00" type="text" class="form-control" name="price">
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-success">
            <a href="/" class="btn btn-danger">Cancel</a>
        </div>
    </form>
{% endblock %}